[Desktop Entry]
Encoding=UTF-8
Name=Project Wonderland README
GenericName=Project Wonderland
Comment=View Project Wonderland README
Icon=wonderland.png
URL=file:///usr/share/lg3d-wonderland/docs/README.html
Type=Link
Categories=Application;Graphics;
