<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>org.jdesktop.wonderland.modules.securitysession.auth.web.SecuritySetupContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.impl.container.servlet.ServletAdaptor</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>unit:WonderlandGroupPU</param-name>
            <param-value>persistence/wonderlandgroup</param-value>
        </init-param>
        
        <init-param>
            <param-name>unit:WonderlandUserPU</param-name>
            <param-value>persistence/wonderlanduser</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>UserManagerServlet</servlet-name>
        <servlet-class>org.jdesktop.wonderland.modules.securitysession.auth.web.UserManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.jdesktop.wonderland.modules.securitysession.auth.web.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/identity/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserManagerServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <display-name>Require Admin</display-name>
        <web-resource-collection>
            <web-resource-name>Access to user editor</web-resource-name>
            <description>Access to user editor requires a valid login</description>
            <url-pattern>/users</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Require a logged in user</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>A regular user of the system</description>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description>A system administrator</description>
        <role-name>admin</role-name>
    </security-role>

    <persistence-unit-ref>
        <persistence-unit-ref-name>persistence/wonderlandgroup</persistence-unit-ref-name>
        <persistence-unit-name>WonderlandGroupPU</persistence-unit-name>
    </persistence-unit-ref>
    
    <persistence-unit-ref>
        <persistence-unit-ref-name>persistence/wonderlanduser</persistence-unit-ref-name>
        <persistence-unit-name>WonderlandUserPU</persistence-unit-name>
    </persistence-unit-ref>
</web-app>
