<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wonderland-module>
    <name>mpk20</name>
    <version>
        <major>5</major>
        <minor>2</minor>
    </version>
    <description>The MPK20 module contains the demo space provided with Project Wonderland.</description>
</wonderland-module>
