sgs.server=http://localhost:8080/
auth.username=username
auth.fullname=Users Name
avatar.detail=low

wonderland.client.fps = 30   # Desired frame rate for client

# Set the user directory for the client, useful for running multiple clients on one machine
#wonderland.user.dir=/Users/paulby/.wltest

