<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Wonderland Server Runner</display-name>
    <listener>
        <description>Notify of initialization and shutdown</description>
        <listener-class>org.jdesktop.wonderland.runner.servlet.RunnerContextListener</listener-class>
    </listener>
    <listener>
        <description>Timer to notice when remote runners go away</description>
        <listener-class>org.jdesktop.wonderland.runner.resources.RemoteStatusResource</listener-class>
    </listener>
    <servlet>
        <servlet-name>RunServlet</servlet-name>
        <servlet-class>org.jdesktop.wonderland.runner.servlet.RunnerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.impl.container.servlet.ServletAdaptor</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>RunServlet</servlet-name>
        <url-pattern>/run</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>run</welcome-file>
        <welcome-file>RunServlet</welcome-file>
    </welcome-file-list>
    <taglib>
        <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
        <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
    </taglib></web-app>
