/* ce.css */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: white;
}

#container {
	width: 100%;
	margin: 0px;
}

#header {
    height: 96px;
    border: 0px black solid;
    background-image: url(images/banner-middle.jpg);
    background-repeat: repeat-x;
    padding: 0em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    color: white;
}

#header img {
    border: 0px black solid;
    float: right;
}

#projectName {
    font-size: 24pt;
    float: left;
    text-align: left;
    padding-top: 15px;
}

#labs {
    font-size: 12pt;
    font-weight: normal;
    padding-left: 0.2em;
}

#serverInfo {
    font-size: 10pt;
    font-weight: normal;
    float: right;
    padding-top: 35px;
}

/* FRONT MATTER (Contents plus Intro) */

/* TABLE OF CONTENTS */

/* Sun Primary, 2nd, 3d Blue: #5382A1, #35556B  #A3B8CB*/
/* Sun Primary, 2nd, 3d Orange: #E76F00,  #C06600, #ED9B4F */
/* Sun Primary, 2nd, 3d Green: #B2BC00,  #7F7800, #C5D5A9 */
/* Sun Primary, 2nd, 3d Tan: #FFC726,  #C69200, #F8D583 */

#frontMatter {
    min-height: 15em;
}

#contents {
    float: left;
    background-color:  #C5D5A9; 
    border: 1px black solid;
    color: #35556B;
    padding: 1em 1em 2em 1em;  /* top right bottom left */
    margin: 0em 1em 1em 0em; /* top right bottom left */
}

#contents h3 {
    margin: 0.0em;
    clear: left;
}

#contents ul {
    list-style-type: square;
    padding: 0.5em 0.2em 0em 1em; /* top right bottom left */
    margin-top: 0.0em;
}

#contents ul li {
    font-size: 12pt;
}

#contents ul li a {
    color: #35556B;
}

#contents ul li a:hover {
    color: #7F7800;
}

#contentsSub {
    margin-bottom: 1em;
    color: #35556B;
}

/* INTRO */

#intro {
    margin-top: 0em;
    font-size: 120%;
}

#intro p {
    margin-top: 0em;
}

#intro img {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    border: 1px black solid;
}

#intro a {
    color: #35556B;   
}





/* SECTIONS */

#sections h3 {
    color: white;
    background-color: #C06600;
    padding: 0.2em;
    text-align: left;
    clear: both;
}

.subheading {
    font-weight: bold;
}


/* PROJECTS */

.project {
    margin-left: 2em;
}

.project p {
    font-weight: normal;
    margin-top: 0em;
} 

.project a {
    color: #35556B;   
}

.project img {
    float: right;   
    margin-left: 0.75em;  
    margin-bottom: 0.5em;  
}

.projectName {
    font-weight: bold;
}

.projectName a {
    color: #35556B;; 
}

.projectName a:hover {
    color: #C06600;
}

/* PUBLICATIONS */

.pub {
    margin-left: 2em;
    margin-top: 1em;
}

.pub p {
    font-weight: normal;
    font-size: 80%;
    margin-top: 0em;
}    

.pub a {
    color: #35556B;;     
}

.pubName {
    font-weight: bold;
}

.pubName a {
    color: #35556B;; 
}

.pubName a:hover {
    color: #C06600;
}

.pubDetail {
    font-weight: normal;
    font-style: italic;  
    font-size: 80%;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em; 
}

.date {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #C06600;
    font-weight: bold;
    
}


/* MISC CLASSES */

.heading {
    color: #7F7800;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0em;
}

.bodytext {
   position: left;
}

.bodytext p {
    margin-top: 0em;
}

.bodytext a {
    color: #35556B;   
}

.snaps {
/*   border: 1px solid black; */
   position: left;
   margin-bottom: 1em;
}

.snaps a {
    color: #35556B;   
}

.snaps img {
    border: 1px solid black;   
}

.img-para {
/*   border: 1px solid black; */
   float: right;
   margin-bottom: 1em;
   margin-left: 1em;
}

.img-para a {
    color: #35556B;   
}

.img-para img {
    border: 0px solid black;   
}

.img-para-noborder {
   float: right;
   margin-bottom: 1em;
   margin-left: 1em;
}

.img-para-noborder img{
    border: 0px solid black;   
}

.button input {
	background: rgb(204, 204, 255) none repeat scroll 0%; 
	-moz-background-clip: initial; 
	-moz-background-origin: initial; 
	-moz-background-inline-policy: initial; 
	font-weight: bold; 
	font-size: 18px;
}

.intro-note a {
	padding: .2em;
	font-size: 75%;
}

