Package: lg3d-wonderland
Version: @VERSION@
Priority: Optional
Architecture: @OS_ARCH@
Essential: no
Maintainer: Krishna Gadepalli <krishna.gadepalli@sun.com>
Provides: lg3d-wonderland
Depends:
Recommends: sun-java6-jdk
Description: Project Wonderland. See http://lg3d-wonderland.dev.java.net, source code is available from this site under a GPL license.
